<div class="container">
    <br>
    <h2 class="centrealign  font-weight-bold"><b>Per Category Product Sales</b></h2>

    <!-- <body>
        <div> -->

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="centrealign">
                <th>Category</th>
                <th>Total Number of Product Sold</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let catg of groupcatgs" class="centrealign">
                <td>{{catg.productCategory}}</td>
                <td>{{catg.productSold}}</td>

            </tr>
        </tbody>
    </table>
 <div class="card  card-image">

    <div style=" width:460px; height:400px; padding-left:0px">
    <canvas id="myChart" >{{chart}}</canvas>
</div>
</div>

<!-- </div>
<a href="/groupby-location" class="top">Back to Top &#8593;</a>
</body> -->

</div>