

<!-- <div class="container mt-5">--->
   <!-- <div class="card text-center card-image">  -->
     
    <!-- <h1>This is Home Page</h1> -->
    <!-- <img src="assets/images/btooffice4.jpg" id="bg" alt="image"> -->



   <!-- </div> -->

   <!-- <div class="container">
      <h1>Rose image</h1>
  </div> -->

 
  <!-- <div [ngStyle]="{background:'url(./assets/images/inventorymg.png)'}  " >
   <div></div>
</div> -->

<div id="sect1"class="container">       
   <!-- <h2>Now Load image on the displa\</h2>   -->
   </div>      
  
   
   


