.styleinpadd{
    padding: 5px;
}

.centrealign{
    text-align: center;
}

.card-image{
    height: 350px;
    width:440px; 
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    padding: 8px;
    color: rgb(111, 139, 18);
    background-color: rgb(243, 218, 211);
 }

 .alert {
    color: #c40d0d;
    }
  
 